<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HastaneOtomasyonu.Properties.Settings.HastaneProjeConnectionString"
            connectionString="Data Source=DESKTOP-TR33C9R\MSSQLSERVER01;Initial Catalog=HastaneProje;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="HastaneOtomasyonu.Properties.Settings.ConnectionString"
            connectionString="Data Source=DESKTOP-TR33C9R\MSSQLSERVER01;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>